<div id="popular" class="container-fluid">
  <h5>Popular Movies</h5>
  <div class="grid">
    <%data.results.forEach(function(data){%>
      <div id="gridCenter`" class="card">
        <a href="/<%= data.id %>">
        <img
        class="img-fluid rounded"
        src="https://image.tmdb.org/t/p/w300<%=data.poster_path  %>"
        alt="<%= data.title %>"
      /></a>
      <p><a href="/<%= data.id %>"><%= data.title %></a></p>
      
    </div>

    <%}) %>
  </div>
</div>
