<%- include("partials/header.ejs") %>
<% details.forEach(function(display){%>
  <img
  class="img-fluid rounded"
  src="https://image.tmdb.org/t/p/w300<%=display.poster_path  %>"
  alt=""
/>

<p><a href="/<%= display.id %>"><%= display.title %></a></p>

<%}) %>

<%- include("partials/footer.ejs") %>
