<%- include("partials/header.ejs") %>
<div id="movieDetails" class="container-sm">
  <img
    class="img-fluid rounded"
    src="https://image.tmdb.org/t/p/w300<%=details.poster_path %>"
    alt="movie poster"
  />

  <div>
    <h5 id="title"><%= details.title %></h5>

    <div class="genre-container">
      <% details.genres.forEach(genre => {%>
      <p id="genre"><%= genre.name %></p>
      <%}); %>
    </div>

    <div class="overview">
      <p><%= details.overview %></p>
    </div>

    <p style="color: white">
      Status : <%= details.status %> <br />
      Release date : <%= details.release_date %> YY/MM/DD
    </p>

    <p style="color: white">Runtime : <%= runtime %></p>

    <a href="<%= details.homepage %>" target="_blank"
      >Click link for more details</a
    >
    

    <!-- <a href=""
              ><button class="btn btn-outline-success">See details</button></a
            > -->
  </div>
</div>

<%- include("partials/footer.ejs") %>
